<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="HydraServers" value="localhost"/>
    <add key="Database" value="hydra"/>
    <add key="PollIntervalMs" value="2000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
