<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PollIntervalSeconds" value="600"/>
    <add key="MessageExpiryDays" value="14"/>
    <add key="MaxDocsInDatabase" value="1000000"/>
    <add key="DeleteBatchSize" value="1000"/>
    <add key="HydraServer" value="localhost"/>
    <add key="Database" value="hydra"/>
    <add key="Port" value="5984"/>
  </appSettings>
</configuration>